#primary.about {
  padding: 0;
}

.about-hero {
  min-height: 500px;
  margin: 0;
  padding: 0;
  @include heroHeaderImg(contain, center, bottom, 'chi-bg-02.png');

  .text {
    h1 {
      font-size: 36px;
      line-height: inherit;

      span {
        font-family: $font-family-serif;
        color: $bright-cta-color;
      }
    }
  }
}

.who-we-are {
  padding-bottom: grid(6);
  .row {
    div {
      font-size: 24px;
      h2 {
        font-size: 48px;
        margin-bottom: grid(5);
      }
      p {
        margin-bottom: grid(7);
      }
      .cta-arrow-link {
        a svg {
          padding: 0;
          transition: transform 0.2s linear;
        }
        a[aria-expanded="false"] svg {
          transform: rotate(180deg);
        }
        a[aria-expanded="true"] svg {
          transform: rotate(0deg);
        }
      }
    }
  }
}

#history-carousel {
  min-height: 540px;
  margin-top: grid(7);

  .carousel-indicators {
    position: absolute;
    left: 65%;
    li {
      background-color: $gray-base;
    }
    li.active {
      background-color: $bright-cta-color;
    }
  }

  .carousel-inner {
    .item {
      img.carousel {
        max-height: 450px;
        margin-left: 10%;
      }
      .carousel-caption {
        top: 0;
        left: 45%;
        right: 15%;
        text-align: left;
        text-shadow: none;

        h3 {
          font-size: 36px;
          margin-bottom: 100px;
          color: $gray-dark;
        }
        p {
          font-size: 20px;
          color: $gray-dark;
        }
      }
      .carousel-control.left, .carousel-control.right {
        position: absolute;
        background-image: none;
        top: 35%;
        bottom: auto; 

        img {
          height: 60px;
        }
      }
      .carousel-control.left {
        // left: 40%;
        left: 37.5%;
      }
      .carousel-control.right {
        right: -2.5%;
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.our-principles {
  margin-bottom: -15px;
  .row {
    height: 720px;
    .left {
      background-color: $gray-base;
      color: #fff;
      // height: 500px;
      height: 100%;
      // min-height: 450px;
      // max-height: 500px;
      .row {
        div {
          // padding: 100px 100px 0 0;
          padding-top: 80px;
          padding-right: 100px;
          h2 {
            font-size: 48px;
            padding-bottom: 45px;
            border-bottom: solid 1px #fff;
          }
          p {
            margin-top: 50px;
          }
        }
      }
    }
    .right {
      padding: 0;
      margin: 0;
      // height: 450px;
      height: 100%;
      // min-height: 450px;
      // max-height: 500px;
      ul.nav {
        margin-left: 0;
        height: 130px;
        // margin-top: 80px;
        padding: 80px 15% 0 15%;
        
        li {
          width: 32%;
          display: inline-block;
          text-align: center;
        }
        li.active,
        li:hover {
          a {
            color: $brand-primary;
            border-bottom: solid 4px $brand-primary;
          }
          a, a:hover {
            background-color: inherit;
          }
        }
      }
      .tab-pane {
        // height: inherit;
        margin-top: -130px;
        margin-bottom: -15px;
        // padding-top: 175px;
        padding: 175px 15% 80px 15%;
        height: 720px;
      }
    }
  }
}

#principles-tab1 {
  background-color: #c6e5e3;
}
#principles-tab2 {
  background-color: #faecc3;
}
#principles-tab3 {
  background-color: #dceac5;
}

@media screen and (max-width: $desktopWidth) {
  #history-carousel {
    height: auto;

    .carousel-inner {
      .item {
        img.carousel {
          visibility: hidden;
        }
        .carousel-caption {
          left: 75px;
          right: 75px;

          h3 {
            font-size: 26px;
            margin-bottom: 50px;
          }
          p {
            font-size: 18px;
          }
        }
        .carousel-control {
          width: 60px;
        }
        .carousel-control.left {
          left: 15px;
        }
        .carousel-control.right {
          right: -15px;
        }
      }
    }
    .carousel-indicators {
      left: 50%;
    }
  }
  
}

@media screen and (max-width: $desktopWidth) {
  .our-principles {
    .row {
      height: auto;
      .left {
        // min-height: inherit;
        // max-height: inherit;
        min-height: 1px;
        height: auto;
        padding-bottom: 50px;
        // .cta-arrow-link {
        //   // min-height: 1px;
        //   height: auto;
        //   // max-height: inherit;
        // }
      }
      .right {
        height: auto;
        ul.nav, .tab-pane {
          padding-right: 15px;
          padding-left: 15px;
        }
        .tab-pane {
          height: auto;
        }
      }
    }
  }
}

.thirteen-point-plan {
  .row {
    padding: 50px 0;
    .thirteen-circle {
      height: 450px;
      width: 450px;
      border-radius: 50%;
      background-color: $brand-primary;
      color: #fff;
      h2 {
        font-family: $font-family-serif;
        font-size: 325px;
        padding-top: 15px;
        margin-left: 25px;
      }
      .cta-arrow-link {
        text-align: center;
        a, a:visited, a:active, a:hover {
          color: #fff;
        }
        svg {
          stroke: #fff;
        }
      }
    }
    .col-md-6 {
      margin-top: 45px;
      h3 {
        font-size: 48px;
        margin-bottom: 35px;
      }
    }
  }
}

.our-programs {
  .row {
    padding: 50px 0;
    .program-list {
      .row {
        padding: 15px 0;
        div {
          .feature {
            background-color: $gray-base;
            height: 145px;
            width: 100%;
            // width: 145px;
          }
        }
        .program-description {
          padding-left: 35px;
          padding-right: 50px;

          h4 {
            font-size: 24px;
            padding-bottom: 15px;
            border-bottom: solid 1px $gray-dark;
          }
        }
      }
    }
    .description {
      border-left: solid 1px $gray-dark;
      padding-left: 50px;
      margin-right: 8.3333%;
      h3 {
        font-size: 48px;
        padding-bottom: 36px;
        border-bottom: solid 1px $gray-dark;
      }
      p {
        margin-top: 50px;
      }
      .details-button {
        margin: 50px 0;
        text-align: center;
        a {
          border-radius: 50px;
          border: solid 5px $gray-base;
          color: $gray-base;
          padding: 15px 45px;
          font-weight: bold;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .our-programs {
    .row {
      .description {
        border-left: none;
        margin: auto 0;
        float: none !important;
        padding-left: 15px;
        // margin-right: 0;
      }
    }
  }
}

.our-team {
  .row {
    padding: 15px;
    width: 100%;
    display: inline-block;
    div {
      .team-intro {
        max-width: 450px;
        min-width: 300px;
        display: inline-block;
        vertical-align: top;
        padding-right: 50px;
        h3 {
          font-size: 48px;
          padding-bottom: 36px;
          border-bottom: solid 1px $gray-dark;
        }
        p {
          margin-top: grid(4);
        }
      }
    }
  }
  .row:nth-child(2) {
    div {
      text-align: center;

      .team-member {
        width: 27%;
        display: inline-block;
        margin: grid(5);
        vertical-align: top;

        .profile-img {
          border-radius: 50%;
          height: 0;
          padding-bottom: 100%;
        }
      }
    }
  }
}

@media(max-width: $tabletWidth) {
  .our-team .row:nth-child(2) div .team-member {
    max-width: 30%;
  }
}

.board-of-directors {
  .row {
    padding-bottom: grid(6);
    .board-intro {
      border-right: solid 1px $gray-dark;
      padding-right: grid(6);
      h3 {
        font-size: 48px;
      }
    }
  }
}