.resolution-button {
  font-size: 20px;
  margin-bottom: 25px;
}
.resolution-button p {
  margin-bottom: 20px;
}

.cta-button-link {
  background-color: $bright-cta-color;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
.cta-button-link:active,
.cta-button-link:visited,
.cta-button-link:hover {
  color: $gray-dark;
}

.arrow-icon {
  fill: none;
  stroke: $dark-cta-color;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.arrow-icon.right {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.arrow-icon.down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.arrow-icon.left {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}
.arrow-icon.small {
  height: 20px;
  width: 20px;
}
.arrow-icon.medium {
  height: 30px;
  width: 30px;
}
.arrow-icon.large {
  height: 40px;
  width: 40px;
}

.cta-arrow-link svg,
.cta-arrow-link a {
  display: inline-block;
  vertical-align: middle;
}
.cta-arrow-link svg.arrow-icon {
  padding-right: 5px;
}
.cta-arrow-link a {
  color: $bright-cta-color;
}
.cta-arrow-link a:active,
.cta-arrow-link a:visited,
.cta-arrow-link a:hover {
  color: $dark-cta-color;
}

.title h2 {
  margin-bottom: 25px;
}
