.funders {
  padding-bottom: grid(6);
  min-height: grid(75);

  .row {
    .left-section {
      padding-right: grid(4);
      h2 {
        margin-bottom: grid(12);
        font-size: 48px;
      }
      p {
        border-top: 1px solid $gray-base;
        padding-top: grid(3);
        margin-bottom: grid(3);
      }
    }
    .right-section {
      .row:first-child {
        margin-bottom: grid(3);
      }
      .row {
        ul.nav {
          margin-left: 0;
          
          li {
            width: 32%;
            display: inline-block;
            text-align: center;
          }
          li.active,
          li:hover {
            a {
              color: $brand-primary;
              border-bottom: solid 4px $brand-primary;
            }
          }
        }
        
        .tab-content {
          .tab-pane {
            height: inherit;
          }
        }
      }
    }
  }
  .row:nth-child(2) {
    margin-top: grid(4);
    margin-bottom: grid(4);
  }
}
.funder-img {
  div {
    text-align: center;
    max-width: grid(25);
    padding: grid(2);
    display: inline-block;
    
    img {
      max-width: grid(20);
    }
  }
}
