body {
  font-family: $body-font-stack;
  font-size: $body-font-size;
  color: $gray-dark;
}

main {
  margin-bottom: 15px;
}

h1, h2 {
  font-family: $header-font-stack;
}

article,
span,
aside,
.entry-content,
.widget-title {
  font-family: $font-family-sans-serif;
}

.no-row-margins {
  div.row {
    margin: 0;
  }
}

#page {
  margin-top: 100px;
}

/* Hide smiley face */
img#wpstats{
  display: none;
}
