#site-logo {
  margin-left: grid(3);
  margin-right: grid(2);
  width: grid(9);
  height: $searchFormHeight;
  background-image: image-url('mto-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: $body-bg;
  @include shadowDefault;
  font-weight: 600;
}
.navbar-collapse {
  background-color: $body-bg;
  @include shadowDefault;
}
.navbar-nav {
  margin-top: grid(1);
}
.navbar-toggle {
  margin-top: grid(2);
  
  span.icon-bar {
    background-color: $brand-primary;
  }
}

.navbar-form,
.navbar-form .input-group,
.navbar-form .input-group input,
.navbar-form .input-group .input-group-btn button {
  height: grid(6);
  border-radius: 0;
  border: none;
}

.navbar-form {
  margin: 0;
  padding: 0;
  .input-group {
    // float: right;
    
    input {
      padding-left: grid(2);
    }
    
    .input-group-btn {
      button {
        background-color: $dark-cta-color;
        width: grid(7);
        i {
          color: #FFF;
          font-size: 22px;
        }
      }
      button:hover {
        background-color: $bright-cta-color;
      }
    }
  }
}

.navbar {
  .pull-right.search-form {
    padding: 0;
    height: $searchFormHeight;
    background-color: $dark-cta-color;

    input.form-control {
      height: $searchFormHeight;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .navbar {
    .pull-right.search-form {
      margin: 0 -15px;
      width: 100%;

      form .input-group {
        margin-left: grid(-4);
      }
    }
  }
}

.navbar .pull-right.search-form form,
.navbar .pull-right.search-form form div.input-group,
.navbar .pull-right.search-form form div input,
.navbar .pull-right.search-form form div div.input-group-btn,
.navbar .pull-right.search-form form div div.input-group-btn button,
.navbar .pull-right.search-form .donate-button {
  height: 100%;
}
.navbar .pull-right.search-form form {
  width: 60%;
  display: inline-table;

  .input-group:first-of-type {
    width: 100%;
  }
}
.navbar .pull-right.search-form form div input {
  font-size: 16px;
  padding-left: grid(6);
}

.navbar .search-submit {
  position: absolute;
  background: none;
  border: none;
  top: 25%;
  left: 10px;
  color: $dark-cta-color;
  padding: 0;
  font-size: 26px;
  z-index: 4;
}

a.donate {
  color: #fff;
  
  button.donate-button {
    display: inline-table;
    vertical-align: top;
    text-align: center;
    background: transparent;
    border-radius: 0;
    width: 35%;
    border: none;

    i.material-icons {
      vertical-align: middle;
      font-size: 16px;
    }
  }
  &:active, &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .pull-right.search-form form div input {
    border-left: none;
  }
}

/* OVERRIDE BOOTSTRAP COLLAPSE CSS */
.navbar-header {
  // float: none;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  
  .navbar-collapse {
    max-height: 100%;
  }
}
.navbar-collapse.navbar-sub-collapse.collapse {
  display: none !important;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav {
  float: none;
  margin-top: 7.5px;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav>li {
  float: none;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-collapse.navbar-sub-collapse.collapse.in {
  display: block !important;
}
.navbar-toggle {
  display: block;
  float: left;
  margin-left: 25px;
}

#content {
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  #content { margin-top: 0 }
}
