#site-logo {
  margin-left: 25px;
  margin-right: 15px;
  width: 75px;
  height: 70px;
  background-image: image-url('mto-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: $body-bg;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
  font-weight: 600;
}
.navbar-collapse {
  background-color: $body-bg;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0,0.2);
}
.navbar-nav {
  margin-top: 10px;
}
.navbar-toggle {
  margin-top: 18px;
  
  span.icon-bar {
    background-color: $brand-primary;
  }
}

.navbar-form,
.navbar-form .input-group,
.navbar-form .input-group input,
.navbar-form .input-group .input-group-btn button {
  height: 50px;
  border-radius: 0;
  border: none;
}

.navbar-form {
  margin: 0;
  padding: 0;
  .input-group {
    float: right;
    
    input {
      padding-left: 15px;
    }
    
    .input-group-btn {
      button {
        background-color: $dark-cta-color;
        width: 60px;
        i {
          color: #FFF;
          font-size: 22px;
        }
      }
      button:hover {
        background-color: $bright-cta-color;
      }
    }
  }
}

.navbar {
  .pull-right.search-form {
    padding: 0;
    height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .pull-right.search-form {
      margin: 0 -15px;
    }
  }
}

.navbar .pull-right.search-form form,
.navbar .pull-right.search-form form div.input-group,
.navbar .pull-right.search-form form div input,
.navbar .pull-right.search-form form div div.input-group-btn,
.navbar .pull-right.search-form form div div.input-group-btn button {
  height: 100%;
}
.navbar .pull-right.search-form form div input {
  font-size: 16px;
}

/* OVERRIDE BOOTSTRAP COLLAPSE CSS */
.navbar-header {
  // float: none;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  
  .navbar-collapse {
    max-height: 100%;
  }
}
.navbar-collapse.navbar-sub-collapse.collapse {
  display: none !important;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav {
  float: none;
  margin-top: 7.5px;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav>li {
  float: none;
}
.navbar-collapse.navbar-sub-collapse.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-collapse.navbar-sub-collapse.collapse.in {
  display: block !important;
}
.navbar-toggle {
  display: block;
  float: left;
  margin-left: 25px;
}

#content {
  margin-top: 70px;
}
