.row {
  margin: 10px;
}
.col-sm-5, .col-sm-7, .col-sm-12 {
  padding: inherit;
}
.main-home-content .row:last-child {
  margin-bottom: 30px;
}
.left-section {
  h1 {
    width: 200px;
  }
  h2 {
    width: 300px;
  }
}

.right-section {
  padding-left: 25px;
  // border-left: 1px solid $gray-base;
  margin-top: 25px;
  font-size: 20px;
}
