.squared-away-feature {
  padding: 0;
  margin: 0 auto;
  
  .col-md-12 {
    padding: 0 0;
    margin: auto 0;
  }
}
.squared-away-pic {
  height: 500px;
  background-image: image-url('squared_away_pic.png');
  background-size: cover;
  background-position: top;
}
.squared-away-section {
  height: 100%;
}
.squared-away-top {
  border-bottom: 1px solid $gray-base;
  padding-bottom: 45px;
  
  h1 {
    font-weight: 700;
  }
  h1, h3 {
    font-family: $font-family-sans-serif;
  }
}
.squared-away-text {
  min-height: 500px;
  padding: grid(2) grid(6) grid(2) grid(9);
  background-color: $squared-away-light;
  
  p {
    margin-top: grid(3);
    margin-bottom: grid(4);
  }
}
.squared-away-button {
  margin-top: grid(5);
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: $squared-away-dark;
  border-radius: grid(6);
  padding: grid(2) grid(6);
}

@media screen and (max-width: $tabletWidth) {
  .squared-away-text {
    padding: grid(2) grid(2) grid(9) grid(2);
  }
}